{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
#!/bin/bash
# For Debian-based systems, will install a number of common APT repositories

set -eo pipefail

if [[ ! $(command -v gpg) ]]; then
	echo "[INFO] GnuPG was not installed already ... will attempt to install automatically"
	sudo apt-get update && sudo apt-get install -y gnupg
fi

{{- if not .headless }}
## Visual Studio Code Repository (direct)
curl -fsSL https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/packages.microsoft.gpg > /dev/null
echo "deb [arch=amd64,arm64,armhf signed-by=/etc/apt/trusted.gpg.d/packages.microsoft.gpg] https://packages.microsoft.com/repos/code stable main" | sudo tee /etc/apt/sources.list.d/vscode.list > /dev/null
{{- end }}

## Hashicorp (Terraform / Packer / Etc)
#curl -fsSL https://apt.releases.hashicorp.com/gpg | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/hashicorp.gpg > /dev/null
#echo "deb [signed-by=/apt/trusted.gpg.d/hashicorp.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list > /dev/null

sudo apt-get update

{{ end -}}

