{{ if eq .chezmoi.os "darwin" "linux" -}}
#!/bin/bash

set -eufo pipefail

extensions=(
  editorconfig.editorconfig
  esbenp.prettier-vscode
  golang.go
  hashicorp.terraform
  dracula-theme.theme-dracula
  4ops.packer
  pkief.material-icon-theme
  rust-lang.rust-analyzer
  tomaciazek.ansible
  vscodevim.vim
  yzhang.markdown-all-in-one
)

for extension in ${extensions[@]}; do
    code --force --install-extension $extension
done

{{ if (eq .chezmoi.os "darwin") }}
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false
defaults delete -g ApplePressAndHoldEnabled || true
{{ end }}

{{ if (eq .chezmoi.os "linux") }}
if ! grep -qF fs.inotify.max_user_watches=524288 /etc/sysctl.conf; then
        echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf
        sudo sysctl -p
fi
{{ end }}

{{ end }}
