{{ if eq .chezmoi.os "darwin" "linux" -}}
#!/bin/bash

set -eufo pipefail

# INSTALL GO itself
# we can assume `curl` is available since it is required part of initialization logic for chezmoi
GO_VERSION=1.20.1

{{ if eq .chezmoi.os "linux" -}}
curl -SL -o /tmp/go-install.tar.gz https://go.dev/dl/go${GO_VERSION}.linux-amd64.tar.gz
sudo rm -rf /usr/local/go && tar -C /usr/local -zxvf go-install.tar.gz
{{ else }}
curl -sSL -o /tmp/go-install.pkg https://go.dev/dl/go1.20.1.darwin-amd64.pkg
sudo installer -pkg /tmp/go-install.pkg -target /
{{ end }}

packages=(
  github.com/kisielk/errcheck@latest
  golang.org/x/tools/cmd/goimports@latest
  github.com/go-delve/delve/cmd/dlv@latest
  honnef.co/go/tools/cmd/staticcheck@latest
)

for package in ${packages[@]}; do
  go install $package
done

{{ end }}