{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail

if [[ ! $(command -v glab) ]]; then
  git clone https://gitlab.com/gitlab-org/cli.git /tmp/glab
  cd /tmp/glab && make install; cd -;
fi

{{ end }}