{{ if (and (eq .chezmoi.os "darwin" "linux") (not .headless)) -}}

if [[ "$(command -v code)" ]]; then

{{ if (eq .chezmoi.os "darwin") }}
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false
defaults delete -g ApplePressAndHoldEnabled || true
{{ end }}

{{ if (eq .chezmoi.os "linux") }}
if ! grep -qF fs.inotify.max_user_watches=524288 /etc/sysctl.conf; then
  echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf
  sudo sysctl -p
fi
{{ end }}

fi

{{ end }}
