{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail

if [[ ! $(command -v glab) ]]; then
  if [[ ! -d /tmp/glab ]]; then
    git clone https://gitlab.com/gitlab-org/cli.git /tmp/glab
  fi
  cd /tmp/glab && PATH=$PATH:{{ .chezmoi.homeDir }}/go/bin make install; cd -;
fi
{{ end }}