# -*-mode:conf-toml-*- vim:ft=toml

# ~/.local/share/chezmoi/.chezmoi.toml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}

{{/* boolean feature tags */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}
{{- $headless := false -}}{{/* true if this machine does not have a keyboard/mouse or is virtual */}}
{{- "" -}}

{{- $hostname := .chezmoi.hostname -}}

{{- $headless := false -}}
{{- if not (hasKey . "headless") -}}
{{-   $headless = promptBool "Is this machine headless" -}}
{{- end -}}

{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "Git email address for the author/committer" -}}
{{- end -}}

{{- $git_user := get . "git_user" -}}
{{- if not $git_user -}}
{{-   $git_user = promptString "Git full-name/username for the author/committer" -}}
{{- end -}}

{{- $git_username := get . "git_username" -}}
{{- if not $git_username -}}
{{-   $git_username = promptString "Git login-formatted username for the Gitlab remote" -}}
{{- end -}}

{{- $kubernetes := false -}}
{{- if not (hasKey . "kubernetes") -}}
{{-   $kubernetes = promptBool "Is this machine used for Kubernetes work" -}}
{{- end -}}

{{- $work := false -}}
{{- if not (hasKey . "work") -}}
{{-   $work = promptBool "Is this a work computer" -}}
{{- end -}}

{{- $glab_token := get . "glab_token" -}}
{{- if not $glab_token -}}
{{-   $glab_token = promptString "Gitlab Auth Token" -}}
{{- end -}}

{{- $glab_host := get . "glab_host" -}}
{{- if not $glab_host -}}
{{-   $glab_host = promptString "Gitlab Host (do not include protocol)" -}}
{{- end -}}

{{- $personal := not $work -}}

[data]
  email             = {{ $email | quote }}
  git_user          = {{ $git_user | quote }}
  git_username      = {{ $git_username | quote }}
  work              = {{ $work }}
  glab_token        = {{ $glab_token | quote }}
  glab_host         = {{ $glab_host | quote }}
  headless          = {{ $headless }}
  hostname          = {{ $hostname | quote }}
  kubernetes        = {{ $kubernetes }}
  personal          = {{ $personal }}
  pre_commit_common = {{ "LSByZXBvOiBodHRwczovL2dpdGh1Yi5jb20vcHJlLWNvbW1pdC9wcmUtY29tbWl0LWhvb2tzCiAgcmV2OiB2NC4zLjAKICBob29rczoKICAgIC0gaWQ6IHRyYWlsaW5nLXdoaXRlc3BhY2UKICAgIC0gaWQ6IGVuZC1vZi1maWxlLWZpeGVyCiAgICAtIGlkOiBjaGVjay10b21sCiAgICAtIGlkOiBjaGVjay1zaGViYW5nLXNjcmlwdHMtYXJlLWV4ZWN1dGFibGUKICAgIC0gaWQ6IGNoZWNrLXN5bWxpbmtzCiAgICAtIGlkOiBuby1jb21taXQtdG8tYnJhbmNoCiAgICAgIGFyZ3M6IFstLWJyYW5jaCwgbWFpbiwgLS1icmFuY2gsIG1hc3Rlcl0KICAgIC0gaWQ6IGNoZWNrLW1lcmdlLWNvbmZsaWN0Cgo=" | b64dec | quote }}
