{{ if (and (ne .glab_host "") (ne .glab_token "")) -}}

# configure environment
export GITLAB_HOST="{{ .glab_host }}"
export GITLAB_TOKEN="{{ .glab_token }}"

# useful aliases
alias glhelp='alias | grep -iE --color=never "^gl.+$"'
alias glmrc='glab mr create --squash-before-merge --remove-source-branch -a {{ .git_username }}'
alias glmrv='glab mr view'
alias glreview='glab mr update --reviewer {{ .git_username }}'
alias glmrapp='glab mr approve'
alias glmrapprfull='glmrapp && glab mr update --unlabel review/required --label review/approved'
alias glmrco='glab mr checkout'
alias glmrdraft='glab mr update --draft'
alias glmrready='glab mr update --ready'
alias glmru='glab mr update'
alias glmrclose='glab mr close'
alias glmrmerge='glab mr merge'

{{ end }}
