# -*-mode:ruby-*- vim:ft=ruby

# ~/.Brewfile
# =============================================================================
# Bundler for non-Ruby dependencies from Homebrew, Homebrew Cask and the Mac
# App Store.
#
# Reference: https://github.com/Homebrew/homebrew-bundle
#
# Quick Start: brew bundle --global
#

# 'brew tap'
tap "azure/functions"
tap "mas-cli/tap/mas"

# 'brew install'
brew "base64"
brew "cmake"
brew "coreutils"
brew "curl"
brew "findutils"
brew "gcc"
brew "gdbm"
brew "git"
brew "git-lfs"
brew "glab"
brew "gnupg"
brew "gnu-sed"
brew "gnutls"
brew "htop"
brew "make"
brew "neovim"
brew "readline"
brew "watch"
brew "wget"
brew "jq"
brew "yq"
brew "eza"
brew "tmux"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"

{{- if not .headless }}
# 'brew install --cask'
cask "font-hack-nerd-font"
{{- end }}

