# -*-mode:gitconfig-*- vim:ft=gitconfig
# ~/.gitconfig
# =============================================================================
# User-specific Git configuration file.
#
# Reference: https://git-scm.com/docs/git-config
#
# {{- /* This file supports Go's text/template language. */ -}}
#

[apply]
    # Detect and fix whitespace errors when applying a patch.
    whitespace = fix

[push]
    default = simple

    autoSetupRemote = true

[pull]
    ff = only

[commit]
    gpgsign  = true

[gpg]
    program = "/usr/local/bin/gpg"

[core]
    # Disable line endings output conversion.
    autocrlf = input

    # Set comment character to something that allows mentioning issue numbers.
    commentChar = ";"

    # Store global exclusions into a custom file.
    excludesfile = ~/.gitignore_global

    # Make `git rebase` safer on macOS.
    # See http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/
    trustctime = false

    # Speed up commands involving untracked files such as `git status`.
    # See https://git-scm.com/docs/git-update-index#_untracked_cache
    untrackedCache = true

[submodule]
    # Ensure that submodules are recursively handled without need to expressly identify them
    recurse = true

[diff]
    # List submodules commits in the range.
    submodule = log

    # Ensure file renames are captured and displayed as such in the diff
    renames = true

[tag]
    # Use GPG to sign tags
    gpgSign = true

[fetch]
    # Remove any remote-tracking references that no longer exist on the remote.
    prune = true

	# fetch will automatically behave as if the refs/tags/*:refs/tags/* refspec was provided when pruning, if not set already. This allows for setting both this option and fetch.prune to maintain a 1=1 mapping to upstream refs
    pruneTags = true

	# Recursively fetch into populated submodules
    recurseSubmodules = true

[filter "lfs"]
    # Specify the command to convert a worktree file's content to a blob upon checkin.
    clean = git-lfs clean -- %f

    # Convert between Large File Storage pointer and actual content.
    process = git-lfs filter-process

    # Specify the command to convert a blob object's content to a worktree file upon checkout.
    smudge = git-lfs smudge -- %f

    # Turn a content that by itself is unusable into a usable content.
    required = true

[help]
    # Correct and execute mistyped commands.
    autocorrect = 1

[merge]
    # Include summaries of merged commits in newly created merge commit messages.
    log = true

[mergetool]
    # Avoid saving an `.orig` backup file after a merge.
    keepBackup = false

[rebase]
    # Create a temporary stash entry before the operation begins.
    autostash = true

[status]
    # Enable submodule summary of commits.
    submoduleSummary = true

[user]
    # Instruct Git to avoid trying to guess defaults for user.email and user.name, and instead retrieve the values only from the configuration.
    useConfigOnly = true
    # Specify the email address of the author/committer.
    email = "{{ .email }}"

    # Specify the name/username of the author/committer.
    {{- if not .git_user }}
    name = "{{ .git_username }}"
    {{ else }}
    name = "{{ .git_user }}"
    {{- end }}

    {{- if .personal }}
    signingkey = {{ .personal_gpg_key }}
    {{- else }}
    signingkey = {{ .work_gpg_key }}
    {{- end }}

[credential]
    helper = store
