# -*-mode:gitconfig-*- vim:ft=gitconfig
# ~/.gitconfig
# =============================================================================
# User-specific Git configuration file.
#
# Reference: https://git-scm.com/docs/git-config
#
# {{- /* This file supports Go's text/template language. */ -}}
#

[init]
	defaultBranch = main

[feature]
	experimental = true

[rerere]
	enabled = true
	autoupdate = true

[apply]
	whitespace = fix
	rebase = true

[push]
	default = simple
	autoSetupRemote = true
	followTags = true

[pull]
	rebase = true

[branch]
	sort = -committerdate

[commit]
	gpgsign  = true
	verbose = true

[core]
	autocrlf = input
	commentChar = ";"
	excludesfile = ~/.gitignore_global
	trustctime = false
	untrackedCache = true
	fsmonitor = true
	untrackedCache = true

[submodule]
	recurse = true

[diff]
	submodule = log
	colorMoved = plain
	algorithm = histogram
	renames = true
	mnemonicPrefix = true

[tag]
	gpgSign = true
	sort = version:refname

[fetch]
	prune = true
	pruneTags = true
	recurseSubmodules = true
	all = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	smudge = git-lfs smudge -- %f
	required = true

[help]
	autocorrect = prompt

[merge]
	conflictstyle = zdiff3
	log = true

[mergetool]
	# Avoid saving an `.orig` backup file after a merge.
	keepBackup = false

[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true

[status]
	submoduleSummary = true

[user]
	useConfigOnly = true
	email = "{{ .email }}"
	{{- if not .git_user }}
	name = "{{ .git_username }}"
	{{ else }}
	name = "{{ .git_user }}"
	{{- end }}
	{{- if .personal }}
	signingkey = {{ .personal_gpg_key }}
	{{- else }}
	signingkey = {{ .work_gpg_key }}
	{{- end }}

[column]
	ui = auto

[credential]
	helper = store

[grep]
	patternType = perl
