Include config.d/*

# disable that annoying host-key checking crap
StrictHostKeyChecking no

{{- if .personal }}
# Homelab Network Prefix
Host 172.20.*.* !10.35.1.2
   User lnxadm
{{- end }}

# All
Host *
   LogLevel INFO
   GSSAPIAuthentication no
   ChallengeResponseAuthentication no
   ServerAliveInterval 15
   CanonicalizeHostname yes
   ControlMaster auto
   ControlPersist 15m
   ControlPath {{ .chezmoi.homeDir }}/.ssh/S.%r@%h:%p

