no-greeting
use-agent
ask-cert-level
fixed-list-mode
keyid-format 0xlong
verify-options show-uid-validity
list-options show-uid-validity
cert-digest-algo SHA512
cipher-algo AES256
default-preference-list SHA512 SHA384 SHA256 SHA224 AES256 AES192 TWOFISH CAMELLIA256 CAMELLIA192 CAMELLIA128 CAST5 ZLIB BZIP2 ZIP Uncompressed
personal-digest-preferences SHA512 SHA384 SHA256 SHA224
no-emit-version
auto-key-retrieve

{{- if .personal }}
default-key 0453AC9CA9749DCCDC65044DB837AA41062A81EB
{{- else if .work }}
default-key E5F5911CFBB3801761BBA3F14956E4DBA40D9C93
{{- end }}
